{{> layout/header}}

<section>
    <!--1. 모든 input 태그를 form 태그로 감싼다.-->
    <!--2. form 데이터를 한번에 전송할 submit 버튼을 만든다.-->
    <!--3. action에 주소를 넣는다.-->
    <!--save는 html1.0방식-->
    <!--4. save를 넣는다.-->
    <!--title=제목6&content=내용6 application/x-www-form-urlencoded
    키값은 input 태그의 name 밸류값은 input 태그의 사용자가 입력하는 값이다.-->
    <form action="/board/save" method="post" enctype="application/x-www-form-urlencoded">
        <input type="text" name="title" placeholder="제목"><br>
        <input type="text" name="content" placeholder="내용"><br>
        <button type="submit">글쓰기</button>
    </form>
</section>

</body>
</html>