{{> layout/header}}

<section>
    <form action="/board/{{model.id}}/update" method="post" enctype="application/x-www-form-urlencoded">
        <input type="number" value="{{model.id}}" readonly><br>
        <input type="text" name="title" placeholder="제목" value="{{model.title}}"><br>
        <input type="text" name="content" placeholder="내용" value="{{model.content}}"><br>
        <input type="text" value="{{model.createdAt}}" readonly><br>
        <button type="submit">수정</button>
    </form>
</section>

</body>
</html>